.slide-up-enter-active, .slide-up-leave-active {
  transition all .35s ease-in-out
}

.slide-up-enter, .slide-up-leave-to {
  transform: translateY(100%);
}

.fade-enter-active, .fade-leave-active {
  transition opacity .35s ease-in-out
}

.fade-enter, .fade-leave-to {
  opacity 0
}