title-color = #464c5b
content-color = #657180
tip-color = #9ea7b4

title-font() {
  color: title-color
  font-weight bold
};

content-font() {
  color: content-color
  font-weight normal
};

tip-font() {
  color: tip-color
  font-weight normal
};

.clear {
  clear both
}