.stu_list{
	margin-top: 20px;
	width: 820px;
	height: 500px;
	background-color: white;
	position:absolute;/*因为这个，所以不能高度自适应*/
	top: 40px;
    left: 50%;
    transform: translate(-50%,0);
	border: 1px solid #DDD;
	/*display:none;*/
	border-radius:5px;
	z-index: 5;
	padding-bottom: 30px;
    overflow:hidden;
}
.stu_header{
	text-align: center;
	margin-top: 20px;
}
.stu_table{
	background-color: pink;
	height: 400px;
	width: 80%;
	margin-left: 10%;

	overflow-x: hidden;
    overflow-y: auto;
    color: #000;
    font-size: .7rem;
    font-family: "\5FAE\8F6F\96C5\9ED1",Helvetica,"黑体",Arial,Tahoma;
    /*height: 100%;*/
}
/*滚动条样式*/
.stu_table::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.stu_table::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.stu_table::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

.wid{
	width: 200px;
}
.td{
	text-align: center;
}
#bbbttt{
	width: 90%;
	height: 30px;
	margin-top: 5px;
}
#shade2{
	position:fixed;
    top:0;
    left:0;
    z-index:6;
    width:100%;
    height:100%;
    background-color:#000;
	opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    /*display:none;*/
}